
.awcache/
.editorconfig
.env
.env.defaults
.env.schema
.env.template
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.huskyrc.json
.npmignore
.npmrc
.nyc_output/
.nycrc.json
.prettierrc.json
.tmp/
.vscode/
*.log
build/
codealike.json
CODEOWNERS
coverage/
docs/
jest.config.js
node_modules/
src/
test/
tmp/
tsconfig.json
typedoc.json
webpack.config.js
yarn.lock